$beige: #fbebda;
$blue: #3a5f7e;
$green: #9aaa88;
$orange: #ff945e;
$yellow: #fad689;
$ocre: #b65950;

@font-face {
  font-family: 'Made Mirage';
  src: url('./assets/fonts/made_mirage_regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'She Lovely';
  src: url('./assets/fonts/she_lovely.ttf');
  font-weight: normal;
  font-style: normal;
}

#app, html {
  font-family: 'Made Mirage' !important;
  font-size: 1.1rem;
  background-color: $beige;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $ocre;
  height: 100%;
  .sheLovelyFont {
    font-family: 'She Lovely';
  }
  .danger {
    background-color: $orange !important;
    color:white !important;
    border: none;
    &:focus {
      box-shadow: none;
    }
  }
  .success {
    background-color: $green !important;
    color:white !important;
    border: none;
    &:focus {
      box-shadow: none;
    }
  }
  h1 {
    font-size: 2rem;
  }
  #nav {
    a {
      color: $ocre
    }
  }
  #home {
    height: 92vh;
    color: $ocre;
    .text {
      border-left: 1px solid $ocre !important;
    }
    .line {
      width: 50px;
      height: 1px;
      background-color: $ocre;
    }
    .lineVertical {
      width: 1px;
      height: 40px;
      background-color: $ocre;
      margin: 0 15px 0 15px;
    }
    h4 {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .modal {

      button {
        background-color: $orange;
        border: none;
        &:focus {
          box-shadow: none;
        }
      }
    }
  }
  #formulaire {
    .container {
      height: 90vh;
    }
    .w-200 {
      width: 200px !important;
    }
    .w-133 {
      width: 133px !important;
    }
    .container {
      .font-size-small {
        font-size: 0.90rem;
      }
      .font-size-small-one {
        font-size: 0.80rem;
      }
      .icon {
        font-size: 5rem;
      }
      .big-checkbox {
        .custom-control-label {
          &:before {
            width: 13.25rem;
            height: 17.25rem;
            z-index: -1;
            box-shadow: none !important;
          }
          &:after {
            background-image: none;
            width: 14.25rem;
            height: 18.25rem;
          }
        }
      }
    }
    .form-control {
      &:focus {
        box-shadow: none;
        border-color: $ocre;
      }
    }
    .custom-control-input {
      &:checked {
        ~ .custom-control-label {
          // color: $beige !important;
          &:before {
            background-color: $blue !important;
            border-color: $blue !important;
            box-shadow: none !important;
          }
        }
      }
    }
    .previous {
      background-color: $orange;
      border: none;
      &:focus {
        box-shadow: none;
      }
    }
    .next {
      background-color: $green;
      border: none;
      &:focus {
        box-shadow: none;
      }
    }
  }
  #confirmation { 
    height: 90vh;
  }
  #contact { 
    height: 90vh;
    color: $blue;
    .container {
      height: 90vh;
    }
  }
  #acces {
    height: 90vh;
    color: $blue;
  }
  #programme {
    height: 90vh;
  }
  #hebergement{
    height: 90vh;
  }
  #login {
    button {
      background-color: $blue;
      &:hover{
        background-color: $beige;
        color:$blue;
        border-color: $beige;
      }
    }
  }

  @media (max-width: 1200px) {
    #formulaire {
      .container {

        height: auto !important;
      }
      .big-checkbox {
        margin-top: 5px;
        font-size: 1rem !important;
        .icon {
          font-size: 2rem;
        }
        .custom-control-label {
          &:before {
            width: 12rem !important;
            height: 12rem !important;
            left: -0.7rem !important;
            z-index: -1;
            box-shadow: none !important;
          }
          &:after {
            background-image: none;
            width: 11.25rem !important;
            height: 11.25rem !important;
          }
        }
      }
    }
  }
  @media (max-width: 992px) {
    #formulaire {
      .container {

        height: auto !important;
      }
      .big-checkbox {
        .icon {
          font-size: 3rem;
        }
        .custom-control-label {
          &:before {
            width: 12rem !important;
            height: 12rem !important;
            z-index: -1;
            left: -2rem !important;
            box-shadow: none !important;
          }
          &:after {
            width: 12rem !important;
            height: 12rem !important;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    #formulaire {
      .w-200, .w-133 {
        width: 100% !important;
      }
    }
  }
}